div.buttons {
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    height: 170px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    
}

.show {
    display: block;
}


button:nth-child(3) {
    margin-right: 0;
}  
button:nth-child(4) {
    margin-right: 0;
}   

button {
    width: 90px;
    margin-right: 27px;
    height: 60px;
    font-size: 20px;
    background-color: green;
    color: black;
}


canvas {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
};

